<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

<th:block th:fragment="content">
    <h1 class="mt-4">
        <span>
                <a th:href="@{/painting/register}">
                    <button type="button" class="btn btn-outline-primary">Register</button>
                </a>
            </span>
    </h1>

<!--    게시물 리스트-->
    <div id="posts-container">
        <div id="posts-wrapper">
            <div th:each="dto:${result.dtoList}" class="post-box">
                <a th:href="@{/painting/read(pno = ${dto.pno}, page=${result.page})}">
                    <div class="post-header">
                        <div class="post-image-wrap">
                            <img th:src="|/display?fileName=${dto.imageDTOList[0].getImageURL()}|" style="object-fit: cover;">
                        </div>
                    </div>

                    <div class="post-body">
                        <b>[[${dto.title}]]</b> <br>
                        <span>평균 ★ [[${dto.avg}]]</span>
                        <!--[[${dto.viewCnt}]]-->
                    </div>
                </a>
            </div>
        </div>
    </div>

<!--<ul class="pagination h-100 justify-content-center align-items-center">

    <li class="page-item" th:if="${result.prev}">
        <a class="page-link" th:href="@{/painting/list(page=${result.start-1})}" tabindex="-1">
            Prev
        </a>
    </li>

    <li th:class="'page-item'+${result.page == page?'active':''}" th:each="page:${result.pageList}">
        <a class="page-link" th:href="@{/painting/list(page=${page})}">
            [[${page}]]
        </a>
    </li>

    <li class="page-item" th:if="${result.next}">
        <a class="page-link" th:href="@{/painting/list(page=${result.end+1})}">
            Next
        </a>
    </li>
</ul>-->

</th:block>
    </th:block>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>

    var page = 1;

    let lastScrollTop = 0;

    $(window).scroll(function() {
	    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
		    page++;
		    loadMoreList();
        }
    });



    function loadMoreList(){

        $.ajax({
            type : 'post',
            url : '/api/getPosts',
            contentType: "application/json; charset=utf-8",
            dataType : 'json',
            data : JSON.stringify({
                'page' : page
            }),
            success : function(data){
                console.log(data);
                appendPost(data);
            },
            error : function(error){
                console.log(error);
            }
        });
    }

    function appendPost(post){

        if(post.dtoList.length < 24) {

        }

        for(let i=0; i<post.dtoList.length; i++){
            //console.log(post.dtoList[i].pno);

            let str = `
            <div class="post-box"><a href="/painting/read?pno=${post.dtoList[i].pno}">
                    <div class="post-header">
                        <div class="post-image-wrap">
                            <img src="/display?fileName=${post.dtoList[i].imageDTOList[0].thumbnailURL}" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="post-body">
                        <b>${post.dtoList[i].title}</b> <br>
                        <span>평균 ★ ${post.dtoList[i].avg}</span>
                    </div>
                </a></div>`;

            $('#posts-wrapper').append(str);

        }
    }


</script>
</html>