<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

<th:block th:fragment="content">
    <h1 class="mt-4">
        <span>
                <a th:href="@{/painting/register}">
                    <button type="button" class="btn btn-outline-primary">Register</button>
                </a>
            </span>
    </h1>

<!--    게시물 리스트-->
    <div id="posts-container">
        <div id="posts-wrapper">
            <div th:each="dto:${result.dtoList}" class="post-box">
                <a th:href="@{/painting/read(pno = ${dto.pno}, page=${result.page})}">
                    <div class="post-header">
                        <div class="post-image-wrap">
                            <img th:src="|/display?fileName=${dto.imageDTOList[0].getImageURL()}|" style="object-fit: cover;">
                        </div>
                    </div>

                    <div class="post-body">
                        <b>[[${dto.title}]]</b> <br>
                        <span>평균 ★ [[${dto.avg}]]</span>
                        <!--[[${dto.viewCnt}]]-->
                    </div>
                </a>
            </div>
        </div>
    </div>

<ul class="pagination h-100 justify-content-center align-items-center">

    <li class="page-item" th:if="${result.prev}">
        <a class="page-link" th:href="@{/painting/list(page=${result.start-1})}" tabindex="-1">
            Prev
        </a>
    </li>

    <li th:class="'page-item'+${result.page == page?'active':''}" th:each="page:${result.pageList}">
        <a class="page-link" th:href="@{/painting/list(page=${page})}">
            [[${page}]]
        </a>
    </li>

    <li class="page-item" th:if="${result.next}">
        <a class="page-link" th:href="@{/painting/list(page=${result.end+1})}">
            Next
        </a>
    </li>
</ul>

</th:block>
    </th:block>

<script>
    $(function(){
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
            loadMoreOrderList();
        }

        $(window).scroll(function(){
            if($(window).scrollTop() + $(window).height() == $(document).height()) {
                loadMoreOrderList();
            }
        });
    });

    const size = 20;
    let total = 0;
    async function loadMoreOrderList(){
        let nextPage = parseInt(total/size);
        let data = '';

        await $.get(`/api/my/orders?page=${nextPage}&size=${size}`,function(result) {
            data = result;
        })

        $("tbody").append(toTrList(data.myorderList));
        total += data.total;

        if(data.total < size) {
            $(window).unbind();
        }
    }

    function toTrList(orderList){

    }
</script>
</html>