<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

<th:block th:fragment="content">
<!--    <h1 class="mt-4">-->
<!--        <span>-->
<!--                <a th:href="@{/painting/register}">-->
<!--                    <button type="button" class="btn btn-outline-primary">Register</button>-->
<!--                </a>-->
<!--            </span>-->
<!--    </h1>-->

<!--    게시물 리스트-->
    <div id="posts-container">
        <div id="posts-wrapper">
            <div th:each="dto:${result.dtoList}" class="post-box">
                <a th:href="@{/painting/read(pno = ${dto.pno}, page=${result.page})}">
                    <div class="post-header">
                        <div class="post-image-wrap">
                            <img th:src="|/display?fileName=${dto.imageDTOList[0].getImageURL()}|" style="object-fit: cover;">
                        </div>
                    </div>

                    <div class="post-body">
                        <b>[[${dto.title}]]</b> <br>
                        <span th:if="${dto.avg != 0.0}" th:data-avg="${dto.avg}">평균 ★ [[${#numbers.formatDecimal(dto.avg, 0, 1)}]]</span>
                        <span th:if="${dto.avg == 0.0}">평균 ★ [[${dto.avg}]]</span>
                        <span class="viewCnt-wrap"><i class="fa fa-eye" aria-hidden="true"></i> [[${dto.viewCnt}]]</span>                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="load-Button-Box">
    <button type="button" class="btn btn-outline-primary" id="loadPage">더 보기</button>
    </div>
</th:block>
    </th:block>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>

    var page = 1;

    $("#loadPage").on("click",function(){
        page++;
        loadMoreList();
    });

    function loadMoreList(){

        $.ajax({
            type : 'post',
            url : '/api/getPosts',
            contentType: "application/json; charset=utf-8",
            dataType : 'json',
            data : JSON.stringify({
                'page' : page
            }),
            success : function(data){
                //console.log(data);
                appendPost(data);
            },
            error : function(error){
                //console.log(error);
            }
        });
    }

    function appendPost(post){

        if(post.dtoList.length < 18) {
            $("#loadPage").remove();

            let str = `<hr><span style="color:gray;">더 이상 불러올 작품이 없습니다.</span>`;

            $("#load-Button-Box").append(str);
        }

        for(let i=0; i<post.dtoList.length; i++){
            //console.log(post.dtoList[i].pno);

            let str = `<div class="post-box">
                <a href="/painting/read?pno=${post.dtoList[i].pno}">
                    <div class="post-header">
                        <div class="post-image-wrap">
                            <img src="/display?fileName=${post.dtoList[i].imageDTOList[0].thumbnailURL}" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="post-body">
                        <b>${post.dtoList[i].title}</b> <br>
                        <span>평균 ★ ${post.dtoList[i].avg}</span>
                    </div>
                </a>
            </div>`;

            $('#posts-wrapper').append(str);
        }
    }
</script>
</html>