<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
<th:block th:fragment="content">

  <div style="background-color:#f7f7f7; padding-bottom: 20px;">
<!-- header -->
    <div style="background-color:white; border-bottom:1px #e3e3e3 solid;">
      <div class="content-header">
        <div class="background-img-blur">
          <img th:src="|/display?fileName=${dto.imageDTOList[0].getImageURL()}|">
        </div>

        <div class="thumbnail-wrap">
          <img th:src="|/display?fileName=${dto.imageDTOList[0].getImageURL()}|">
        </div>
      </div>

      <div class="content-body">
        <h1 th:text="${dto.title}"></h1>
        <span><b>[[${dto.author}]]</b></span> <br>
        <span>[[${dto.material}]] ・ [[${dto.size}]] ・ [[${dto.year}]]</span><br>
        <span>[[${dto.etc}]]</span>
        <hr>
        <b>평균 ★[[${dto.avg}]] ([[${dto.reviewCnt}]]명)</b>
        <hr>

        <!--  찜, 리뷰하기  -->
        <button type="button" class="btn-like likeBtn">
          <i class="fas fa-heart"></i> &nbsp; 좋아요
          (<span th:text="${#numbers.formatDecimal(dto.likeCnt, 0, 'COMMA', 0, 'POINT')}"></span>)
        </button>
        <button type="button" class="btn btn-outline-primary addReviewBtn">
          평가하기
        </button>
      </div>
    </div>

<!--  info  -->
    <div class="content-info">
      <div class="content-info-header">
        <h5><b>기본 정보</b></h5>
        <a th:href="@{https://www.google.com/search(q=${dto.title})}"><b>더보기</b></a>
      </div>
      <br>
      <div>
        <p>
          [[${dto.author}]]<br>
          [[${dto.material}]] ・ [[${dto.size}]] ・ [[${dto.year}]]</span><br>
          [[${dto.etc}]]
        </p>
      </div>

      <hr>

      <!--  리뷰   -->
      <div class="content-info-header">
        <h5><b>코멘트</b></h5>
        <div></div>
      </div>
      <br>
      <div class="list-group reviewList">

      </div>

    </div>
  </div>

    <input type="hidden" id="sessionUser" name="id" th:value="${session.userId}">
    <input type="hidden" class="form-control" name="pno" th:value="${dto.pno}" readonly>

<!-- 리뷰 모달창 -->
  <div class="reviewModal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">리뷰 작성</h5>

          <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label>평점<span class="grade"></span></label>
            <div class="starrr"></div>
          </div>

          <div class="form-group">
            <label>내용</label>
            <input type="text" class="form-control" name="text">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary reviewSaveBtn">작성하기</button>
          <button type="button" class="btn btn-warning modifyBtn">수정</button>
          <button type="button" class="btn btn-danger removeBtn">삭제</button>
        </div>
      </div>
    </div>
  </div>

  <div class="imageModal modal" tabindex="-2" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Picture</h5>

          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
          crossorigin="anonymous"></script>
  <script th:src="@{/js/starrr.js}"></script>
  <link th:href="@{/css/starrr.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <script>
    $(document).ready(function(e){

      let grade = 0;
      let pno = [[${dto.pno}]];

      $('.starrr').starrr({
        rating: grade,
        change: function(e, value){
          if(value){
            //console.log(value);
            grade = value;
          }
        }
      });

      //$(".reviewModal").modal("show");

      let reviewModal = $(".reviewModal");
      let inputMid = $("#sessionUser");
      let inputText = $('input[name="text"]');

      $(".addReviewBtn").click(function(){

        if(loginCheck()){
          return;
        }

        inputText.val("");

        $(".removeBtn, .modifyBtn").hide();
        $(".reviewSaveBtn").show();

        reviewModal.modal('show');

      });

      $('.reviewSaveBtn').click(function(){
        let data = {pno:pno, grade:grade, text:inputText.val(), id:inputMid.val()};
        //console.log(data);

        $.ajax({
          url:'/reviews/'+pno,
          type:'POST',
          data:JSON.stringify(data),
          contentType:"application/json; charset=utf-8",
          dataType:"text",
          success: function(result){
            console.log("result: "+result);
            self.location.reload();
          }
        })
        reviewModal.modal('hide');
      });

      function getPaintingReviews() {
        function formatTime(str){
          let date = new Date(str);

          return date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + ' ' +
          date.getHours() + ':' + date.getMinutes();
        }

        $.getJSON("/reviews/"+pno+"/all", function(arr){
          let str = "";

          $.each(arr, function(idx, review) {
            //console.log(review);

            str += '<div class="review-wrap" data-reviewnum='+review.reviewnum+' data-id='+review.id+'>';
            str += '<div class="review-header"><div><b>'+review.name+'</b>   <div class="reviewGrade-wrap"><i class="fa fa-star"></i> '+review.grade+'</div></div>';
            str += '<div>'+formatTime(review.regDate)+'</div></div> <hr> <h6 class="review-content">'+review.text+'</h6>';
            str += '</div>';
          });
          $(".reviewList").html(str);
        });
      }
      getPaintingReviews();


      let reviewnum;

      $(document).on("click",".review-wrap",function(){

      if(loginCheck()){
        return;
      }

        $(".reviewSaveBtn").hide();
        $(".removeBtn , .modifyBtn").show();

        let targetReview = $(this);

        reviewnum = targetReview.data("reviewnum");
        //console.log("reviewnum: "+reviewnum);
        inputMid.val(targetReview.data("id"));
        //inputText.val(targetReview.find('.card-title').clone().children().remove().end().text());
        inputText.val(targetReview.find('.review-content').text());

        let grade = targetReview.find('.reviewGrade-wrap').text();
        $(".starrr a:nth-child("+grade+")").trigger('click');

        $('.reviewModal').modal('show');
      });

      $(".modifyBtn").on("click", function(){
        let data = {reviewnum: reviewnum, pno:pno, grade:grade, text:inputText.val(), id: inputMid.val()};
        //console.log(data);

        $.ajax({
          url:'/reviews/'+pno+"/"+reviewnum,
          type:"PUT",
          data:JSON.stringify(data),
          contentType:"application/json; charset=utf-8",
          dataType:"text",
          success:function(result){
            //console.log("result"+result);
            self.location.reload();
          }
        })
        reviewModal.modal('hide');
      });

      $(".removeBtn").on("click",function(){
        let data = {reviewnum: reviewnum};
        //console.log(data);

        $.ajax({
          url:'/reviews/'+pno+'/'+reviewnum,
          type:'DELETE',
          contentType:"application/json; charset=utf-8",
          dataType:"text",
          success: function(result){
            //console.log("result: " + result);
            self.location.reload();
          }
        })
      reviewModal.modal('hide');
    });

    function loginCheck(){

      //console.log($("#sessionUser").val());

      if($("#sessionUser").val()==""){
        alert("로그인 후 이용해주세요");
        $("#loginBtn").trigger("click");
        return true;
      }
    }

    $(".btn-close").on("click",function(){

      reviewModal.modal('hide');
    })


    //좋아요 기능
    $(".likeBtn").on("click",function(){
      if(loginCheck()){
        return;
      }

      alert("추후 업데이트 예정");

    })

  });
  </script>
</th:block>
</th:block>
</html>